fastapi>=0.109.1
uvicorn>=0.25.0
pydantic==2.7.4
requests==2.32.3
langchain==0.2.5
langchain_community==0.2.5
langchain-text-splitters==0.2.1
sentence_transformers>=2.7.0
google-cloud-storage==2.17.0
faiss-cpu==1.8.0
PyMuPDF==1.24.5
openai==1.35.3
rich==13.7.1